*{
    box-sizing: border-box;
    margin:0;
}

body{
    background-color: #333;
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}

.landing-view{
    height:100vh;
    width:100%;
    background-image: url('images/background.jpg');
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    z-index: -3;
    padding:20px;
    position: relative;
}
.overlay{
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    background-color: rgba(0,0,0,0.65);
    z-index: 3;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 35px;
    z-index: 5;
}
.header img {
    height: 35px;
}
.sign-out{
    background-color: red;
    border: none;
    padding:10px 20px;
    outline: none;
    border-radius: 5px;
    color:white;
    font-size: 16px;
}
.landing-body{
    position: absolute;
    top:25%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding:20px;
    width:100%;
}

.landing-body h3{
    padding:10px;
    font-weight: 100;
    font-size: 20px;
}
.landing-body .first{
    padding:0px 15px;
    font-size: 50px;
}
.landing-body .second{
    font-size: 50px;
    padding:0px 15px;
}
.landing-body h2{
    font-weight: 100;
    margin-top: 15px;
}
.landing-body button,.finish-sign-up{
    margin-top:20px ;
    padding:10px 20px;
    background-color :rgba(205,0,0,10);
    outline:none;
    border:none;
    border-radius: 5px;
    color:white;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
}
.first-ad{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    background-color: black;
    padding:20px;
    text-align: center;
    height:95vh;
}
.first-ad img{
    width:85%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ad-1-content h2{
    padding: 8px 15px;
 font-size: 37px;
}
.ad-1-content p{
    padding:8px 10px 0 10px;
    font-size: 20px;

}
/* .image-2{
    margin-top: -30px;
} */
.frequent{
    width:100%;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    color:white;
    background-color: black;
    padding:20px;
    /* height:100vh; */
    
}
.frequent h2{
     margin: 40px auto 10px auto;
     padding:15px;
     font-size:40px;
     text-align: center;
}
.dialog-box{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}
 .box-1{
    padding:16px;
    margin:5px auto;
    background-color: #333;
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}
.box-1 p{
    font-size:20px;
}
  .btn-line{
    height:1.5px;
    width:20px;
    background:#fff;
    margin-bottom:3px;
    font-weight: 100;
    
}
.add-line .btn-line:nth-child(2){
        transform: rotate(90deg) translate(-4px,0px);
    
}
a{
    color:gray;
    text-decoration: none;
    font-size: 15px;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    width:100%;
    color:gray;
    margin-top:10px;
    padding:20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 100;

}

li{
    list-style: none;
    padding:5px;
    margin: 5px;
}
.questions{
    margin: 40px 0 15px 25px;
    padding:10px;
    text-align: center;
}
.footer-links{ 
    display:flex;
    justify-content: space-evenly;
 }
 .naija{
     padding:10px;
     margin:25px 0 15px 20px;
     text-align: center;
 }
 @media (min-width:695px){
    .body-ad-1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .body-ad-1:nth-child(2){
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .first-ad{
        height:65vh;
    }
    .ad-1-image{
        width:45%;
    }
    .ad-1-content{
        width:45%;
    }
    
.landing-body h3{
    padding:10px;
    font-weight: 100;
    font-size: 25px;
}
.landing-body .first{
    padding:0px 15px;
    font-size: 60px;
}
.landing-body .second{
    font-size: 60px;
    padding:0px 15px;
}
.landing-body h2{
    font-weight: 100;
    margin-top: 15px;
    font-size: 25px;
}
.landing-body button,.finish-sign-up{
    margin-top:40px ;
    padding:14px 24px;
    background-color :rgba(205,0,0,10);
    outline:none;
    border:none;
    border-radius: 5px;
    color:white;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
}

.ad-1-content h2{
    padding: 10px 19px;
 font-size: 45px;
}
.ad-1-content p{
    padding:8px 10px 0 10px;
    font-size: 25px;

}
.frequent h2{
    margin: 40px auto 10px auto;
    padding:20px;
    font-size:50px;
    text-align: center;
}
.box-1{
    padding:22px;
    margin:5px auto;
    background-color: #333;
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}
.box-1 p{
    font-size:25px;
}
  .btn-line{
    height:1.5px;
    width:20px;
    background:#fff;
    margin-bottom:3px;
    font-weight: 100;
    
}
.frequent{
    padding:35px;
}

 }
 @media (max-width:600px){
    .landing-body{
        position: absolute;
        top:19%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        padding:20px;
        width:100%;
        text-align: center;
    }
    
.landing-body h3{
    padding:10px;
    font-weight: 100;
    font-size: 20px;
}
.landing-body .first{
    padding:0px 15px;
    font-size: 45px;
}
.landing-body .second{
    font-size: 45px;
    padding:0px 15px;
}
.landing-body h2{
    font-weight: 100;
    margin-top: 15px;
}
 }
 @media (max-width:570px){
    .footer-link:nth-child(3){
        display: none;
    }
    
 }